@import url('http://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans:200,400,600,800');

body {
 margin:0; 
 padding:0; 
 }

body>#map { 
  position:absolute;
  top:0; 
  bottom:0; 
  width:100%; 
}


/**************jumbrotron box****************/
#jumbobox{
  width:450px;
  height: 500px;
  /*background: rgba(255,255,255,0.5);*/
  top: 50px;
  left:55px;
  position: absolute;
  font-family: 'Oswald';
}

#jumbobox h1{
  font-size: 48px;
  font-weight: 800;
  color:#fff;
  padding-top: 75px;
  padding-left:10px;
  padding-right: 10px;
}

.btn-default {
  color: #fff;
  background-color:rgba(0,0,0,0);
  border-color: #fff;
  /*width:30px;*/
  height:50px;
  border-width: 4;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {

  color: #fff;
  background-color: #FFC2E0;
  border-color: #fff;
  /*width:30px;*/
  height:50px;

}