@import url('http://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans:200,400,600,800');

html,body {
   margin:0; 
   padding:0; 
   height:100%;
   width:100%;
 }


#map { 
  position:absolute;
  width:100%; 
     min-height: 100%;
    min-width: 100%;
    display: block;
}


.leaflet-control-zoom-in{
  position: absolute;
  display: block;
  background-color: #fff;
  background-repeat: no-repeat;
  overflow: hidden;
  top: 80px;
  left:36px;
  z-index: 100;
  -webkit-border-radius: 3px 3px 3px 0px;
}
.leaflet-control-zoom-out{
  position: absolute;
  display: block;
  background-color: #fff;
  background-repeat: no-repeat;
  top: 80px;
  left:9px;
  z-index: 100;
  /*-webkit-border-radius: 3px 3px 0px 3px;*/
}


/*https://github.com/novus/nvd3/issues/365*/
/*.leaflet-overlay-pane svg {
    width: auto;
    height: auto;
}
*/

/*************** sidebar ************/
.sidebar-nav img{
  width:35px;
  height:35px;
}

.sidebar-nav li {
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    color:#000;
    border-bottom: 1px solid rgba(44, 62, 80, 0.2);    
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(44, 62, 80, 0.2);
    cursor:pointer;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}


.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


/************** side bar menu **************/
#infotoggle{
   text-align:center;
}
/*#tabs.toggled {
    margin-bottom: -187px;
}*/

#tabs img{
  width:30px;
  height:30px;
}

#close {
  /*text-align: center;*/
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    font-size: 12px;
    font-family: tahoma;
    position:relative;
    margin-top: -15px;
    vertical-align: 15px;
    margin-bottom: none;
}
#close:hover {
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
    position:relative;
    margin-top: -15px;
    vertical-align: 15px;
    cursor:pointer;
}


/******tool tips*******/
#hover{
  width:250px;
  height:50px;
  text-align: center;
  padding:2px;
  background: rgba(44, 62, 80, 0.2);
  z-index: 100;
  position: fixed;
  margin-left:0px;
  margin-top: -85px;
  vertical-align: 85px;
  color:#fff;
  font-family: "Oswald"
}


/******* header **********/
#headertitle{
  color: #fff;
  font-size:20px;
  font-family: 'Oswald';
  font-weight: 500;
  text-shadow: 1px 2px #2C3E50;
  /*margin-right: 15px;*/
}
/*#bs-example-navbar-collapse-1{
  padding-top: 5px;
}
#bs-example-navbar-collapse-1 span{
  color: #fff;
  font-size:20px;
  font-family: 'Oswald';
  font-weight: 400;
  text-shadow: 1px 2px #2C3E50;
}*/

#bs-example-navbar-collapse-1{
  padding-top: 5px;
}
.navbar-right span{
  color: #fff;
  font-size:16px;
  font-family: 'Oswald';
  font-weight: 400;
  text-shadow: 1px 2px #2C3E50;
}

.dropdown #thing{
  color: #fff;
  font-size:16px;
  font-family: 'Oswald';
  font-weight: 400;
  text-shadow: 1px 2px #2C3E50;
}

.dropdown #legend-button a{ 
  color: rgba(44, 62, 80, 0.5) !important;
  font-size:16px;
  font-family: 'Oswald';
  font-weight: 400;
}

.navbar-default{
  background-color: rgba(44, 62, 80, 0.2);
}


#logoimg {
  width:40px;
  height:40px;
  margin-top: -7px;
}

.container{
  width:100%;
}


.dropdown-menu {
  padding-right: 0px;
  position: absolute;
  vertical-align: center;
  top: 100%;
  left: 0;
  z-index: 200;
  display: none;
  float: left;
  min-width: 30px;
  padding: 5px 0;
  margin: 5px 0 0;
  list-style: none;
  font-size: 15px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(44, 62, 80, 0.15);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(44, 62, 80, 0.5);
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}

.nav-tabs {
  border-bottom: 1px solid #ecf0f1;
  background-color: #fff;
}

.panel-body {
  padding: 15px;
  background-color: #fff;
}

.nav-tabs a {
  color: rgba(44, 62, 80, 0.5);
  text-decoration: none;
}


/***************** PANEL DEFAULT ******************/
/* open close */
#infotoggle{
   text-align:center;
}

#bottomtab img{
  width:30px;
  height:30px;
}

#close {
  /*text-align: center;*/
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    font-size: 12px;
    font-family: tahoma;
    position:relative;
    margin-top: -15px;
    vertical-align: 15px;
    margin-bottom: none;
}
#close:hover {
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
    position:relative;
    margin-top: -15px;
    vertical-align: 15px;
    cursor:pointer;
}

/* tabs boostrap*/
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}
#bottomtab{
  bottom:0;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.row {
  margin-left: 0;
  margin-right: 0px;
}

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
  background-color: #ddd;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}


/*************temp***************/
#accordion {
    position: fixed;
    bottom: 0;
    width: 100%;    
}

.panel-default > .panel-heading{
    background: #fff;
}

.panel-heading {
    padding: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
    text-decoration: none;
    outline: none;
}

.panel-group {
  margin-bottom: 0px;
}



/*
.navbar{
  outline:none;
}
*/

/************* remove focus ******************/
.modal-open .modal, #headertitle:focus {
    outline:none!important
}
.modal-open .modal, #help:focus {
    outline:none!important
}