body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.leaflet-control-layers, .leaflet-control-zoom{
background-opacity: 1;
}

.map-tooltip-content{
font: 'Andale mono';
text-align: center;
}

.leaflet-control-layers-toggle{ 
    width:20;
}

.info {
float: right;
}

.solarLegend.leaflet-control{
	background:#F8F8FF;
	padding: 10px;
}
.biomassLegend.leaflet-control{
	background:#F8F8FF;
	padding: 10px;
}
.industrialLegend.leaflet-control{
	background:#F8F8FF;
	padding: 10px;
}
.hydroLegend.leaflet-control{
    background:#F8F8FF;
    padding: 10px;
}
.agLegend.leaflet-control{
    background:#F8F8FF;
    padding: 10px;
}
.windLegend.leaflet-control{
    background:#F8F8FF;
    padding: 10px;
}

/*.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 25px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}*/